* {
    box-sizing: border-box;
    margin: 0;
    font-family: libre, 'inter';
    list-style: none;

    h1, h2, h3, h4 {
        color:var(--accent-color);
    }
}

/* Custom properties */
:root {
    --primary-background: hsl(32, 48%, 74%);
    --secondary-background: hsl(33, 55%, 85%);
    --accent-color: hsl(348, 79%, 30%);
    --light-accent: hsl(0, 0%, 100%);

    /* MARK: Typografie */
    --heading-size-l: 2rem;
    --heading-size-m: 1.6rem;
    --heading-size-s: 1.4rem;
    --heading-size-xs: 1rem;

    --font-size-l: 1.4rem;
    --font-size-m: 1.1rem;
    --font-size-s: 1rem;
    --font-size-xs: 0.75rem;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
}

/* MARK: Font */
@font-face {
    font-family: libre;
    src: url(/LibreCaslonText-Regular.ttf);
}

body {

    height: 100vh;
    /* overflow: hidden; */
    
    main {
        background-color: var(--primary-background);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 5rem;

    .front-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 20rem;
        height: 30rem;
        padding-top: 2rem;
        background-color: var(--secondary-background);
        border-radius: 25px 25px 0px 0px;
        box-shadow: -8px 8px 10px 0px rgba(0 0 0 / 25%);

        img {
            top: 16%;
        }
        
        
        h1 {
            padding-top: 3rem;
            padding-bottom: 1rem;
            font-weight: var(--font-weight-bold);
        }

        h2 {
            padding-bottom: 1rem;
            font-weight: var(--font-weight-medium);
        }

        p {
            font-family: libre;
            color: var(--accent-color);
            text-decoration: underline;
            text-underline-offset: -1.5em;
        }

        button {
            position: absolute;
            bottom: 0;
            justify-self: flex-end;
            width: 155px;
            height: 50px;
            border-radius: 100px 100px 0px 0px;
            border: none;
            background-color: var(--accent-color);
            color: var(--light-accent);
            font-family: libre;
            font-weight: var(--font-weight-bold);
            cursor: pointer;
        }
    }
}
